.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border-top: none;
  position: fixed;
  bottom: -10px; /* Baja el footer más allá del límite visible */
  right: 5px;  
  z-index: 100;
}

.style-button {
  margin: 0 2px; 
  padding: 3px;
  height: 24px;
  line-height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.style-button:hover {
  border-color: #000; /* Cambia el color del borde al hacer hover */
  border-radius: 0; /* Cambia a bordes rectos */
}
